*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;

    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title-color: #F8FBFB;
    --text-body-color: #E2E7E9;
    --text-label-color: #BAC6C9;

    --font-family: "Raleway", sans-serif;

    --title-lg: 700 4.8rem var(--font-family);
    --title-md: 700 4rem var(--font-family);
    --title-sm: 700 3.2rem var(--font-family);
    --title-xs: 700 1.6rem var(--font-family);

    --subtitle: 500 3.2rem/2 var(--font-family);

    --body-lg-bold: 700 2rem/1.4 var(--font-family);
    --body-lg-regular: 400 2rem/1.4 var(--font-family);
    --body-md-bold: 700 1.6rem/1.4 var(--font-family);
    --body-md-regular: 400 1.6rem/1.4 var(--font-family);
    --body-sm-bold: 700 1.4rem/1.4 var(--font-family);
    --body-sm-regular: 400 1.4rem/1.4 var(--font-family);
    --body-xs-bold: 700 1.2rem/1.4 var(--font-family);
    --body-xs-regular: 400 1.2rem/1.4 var(--font-family);

    --button: 700 1.4rem var(--font-family);
    --link: 500 1.4rem var(--font-family);

    --font-sm: 700 1rem var(--font-family)
}

body {
    font-size: 1.6rem;
    color: var(--text-body-color);
    background-color: var(--shape-background);

    overflow-x: hidden;
}

.container {
    max-width: 118.4rem;
    padding-inline: 3.2rem;
    margin-inline: auto;
}

img {
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

@media (width <=375px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}